.add-todo {
	margin-top: 30px;
	display: flex;
	position: relative;
}
.add-todo-input {
	width: 100%;
	padding: 10px;
	box-shadow: 3px 3px 8px 2px lightgray;
	border: none;
	border-radius: 10px;
	font-size: 24px;
	color: #6b6b6b;
	letter-spacing: 2px;
	margin-right: 30px;
	position: relative;
	z-index: 2;
}

.add-todo-input::-webkit-input-placeholder {
	color: #6b6b6b;
}
.add-todo-input::-moz-placeholder {
	color: #6b6b6b;
}

.add-todo-input:active,
.add-todo-input:focus {
	outline: none;
}

.add-todo-btn {
	width: 120px;
	text-align: center;
	border: none;
	padding: 8px 16px;
	color: white;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
}

.add-todo-error {
	position: absolute;
	left: 10px;
	color: tomato;
	font-weight: 700;
	transition: 0.1s;
}
